docs/
docs/*
dist/
dist/*
logs/
logs/*
backs/
backs/*
.backs/
.backs/*
static/dist/*
static/upload/*
blog
blogdev
blogrun
linux/*
gens/*
*.exe
*.exe~
model_tmp/*
*.upx
conf.toml
publish*
internal/utils/gen*.go
sqlite.db