<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>{{.basic.Title}}·{{.Cate.Name}}</title>
        <link rel="canonical" href="{{.basic.SiteUrl}}/cates/{{.Cate.Name}}" />
        {{template "tpl-linker.html" .}}
    </head>
    <body>
        {{template "tpl-naver.html" .}}
        <div id="main">
            <section id="page-index">
                <h1 class="intro">
                    分类<a href="/cates/{{.Cate.Name}}">
                        {{.Cate.Intro}}
                        <!--「{{.Cate.Intro}}」--></a
                    >下的文章
                </h1>
                {{ range $k, $v := .CatePosts }}
                <article class="post">
                    <div class="meta">
                        <div><span class="author">{{$.basic.Author}}</span><span>发布于</span><span class="date">{{ unix $v.Created "2006-01-02" }}</span></div>
                        <div class="comment"><a href="/posts/{{$v.Path}}.html#comments">comments</a></div>
                    </div>
                    <h1 class="title"><a href="/posts/{{$v.Path}}.html">{{$v.Title}}</a></h1>
                    <div class="entry-content">
                        {{ str2html $v.Summary }}
                        <p class="more"><a href="/posts/{{$v.Path}}.html">阅读全文»</a></p>
                    </div>
                </article>
                {{ end }}
                <nav class="pagination">
                    {{ if ne .Naver.Prev ""}}<a href="{{.Naver.Prev}}" class="prev">&laquo;上一页</a>{{end}}
                    <div class="center"><a href="/archives">归档</a></div>
                    {{ if ne .Naver.Next ""}}<a href="{{.Naver.Next}}" class="next">下一页 &raquo;</a>{{end}}
                </nav>
            </section>
            {{template "tpl-footer.html" .}}
        </div>
        {{template "tpl-script.html" .}}
    </body>
</html>
