<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="msvalidate.01" content="BA6009DC1D95902AC43052D430AA822D" />
<link rel="icon" href="{{.global.FaviconUrl}}" />
<meta name="keywords" content="{{.global.Keywords}}" />
<meta name="description" content="{{.global.Description}}" />
<meta name="google-site-verification" content="51J555Z28axR2us4ULmrJuBCizGyxgSMhhL2QGz0XOE" />
<link rel="stylesheet" href="{{.appcss}}" type="text/css" />
<style>{{str2html .global.SiteCss}}</style>
