{
    "useTabs": true,      
    "printWidth": 120,     
    "tabWidth": 4,         
    "singleQuote": false,  
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "noSemi": true,
    "rcVerbose": true
}