<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>zxysilent</title>
    {{template "tpl-linker.html" .}}
</head>
<body>
    {{template "tpl-naver.html" .}}
    <div id="header">
        <div class="btn-bar"><i></i></div>
        <h1><a href="/">zxysilent</a></h1><a class="me" href="/about/"><img src="/res/logo.png" alt="zxysilent"></a>
    </div>
    <div id="sidebar-mask"></div>
    <div id="main">
        <article class="post archive">
            <h1 class="title">归档</h1>
            {{ range $k, $v := .Posts }}
            <div class="entry-content">
                <h3>{{ date $v.Time "2006年01月" }} ({{len $v.Posts }})</h3>
                <ul>
                    {{ range $k1, $v1 := $v.Posts }}
                    <li>
                        <a href="/post/{{$v1.Pathname}}.html" title="{{$v1.Title}}">{{$v1.Title}}</a>&nbsp;
                        <span class="date">{{ date $v1.CreateTime "2006-01-02" }}</span>
                    </li>
                    {{end}}
                </ul>
            </div>
          {{end}}
        </article>
    {{template "tpl-footer.html" .}}
</body>
</html>